/* @import url("https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap"); */
@import url('http://fonts.cdnfonts.com/css/harry-potter');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;500&display=swap%27');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@1,500;1,900&display=swap');
* {
    margin: 0;
    padding: 0;
    font-family: 'Harry Potter', sans-serif;
    font-weight: lighter;    letter-spacing: 5px;
    cursor: pointer;
  }
  
  body{
  overflow-x: hidden;
    background-image: url(bgscroll1.png);
    background-repeat: repeat-y;
    background-size: cover;
  }
  
  header{
    background-image:linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)), url(hogwarts_castle.png);
    background-attachment: fixed;
    height: 100vh;
    background-size: cover;
    background-position: center;
    
}

#navbar {
  overflow: hidden;
  background-color: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6));
  width: 100%;
  transition: all 0.3s ease-in;
  z-index: 1;
}

#navbar a {
  float: right;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 10px 10px;
  text-decoration: none;
  font-size: 17px;
  margin-right: 40px;;
  margin-top: 10px;
  border-radius: 10%;
}

#navbar a:hover {
  background-color: #ddd;
  color: black;
  font-size: 20px;
  transition: all 0.5s ease-in-out;
}

#navbar a.active {
  background-color: #a4c1b61f;
  color: white;
  font-size: 20px;
}

.content {
  padding: 16px;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

.sticky + .content {
  padding-top: 60px;
}
ul{
    float: right;
    list-style-type: none;
    margin-top: 25px;
}

ul li{
    display: inline-block;
}

ul li a{
    text-decoration: none;
    color: #fff;
    padding: 5px 20px;
    border: 1px solid transparent;
    transition: 0.5s ease-in-out;
}

ul li a:hover{
    background-color: #fff;
    color: black;
}

ul li.active a{
    background-color: #fff;
    color: black;
}

.logo h1{
    float: left;
    width: 400px;
    height: auto;
    color: #fff;
    letter-spacing: 1px;
    margin-top: 18px;
    margin-left: 40px;;
}

.main{
    max-width: 100%;
    margin: auto;
}
 
.title{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.title img{
    width: 300px;
    height: auto;
    /* font-size: 70px; */
    color: #fff; 
}

.button{
    position: absolute;
    top: 62%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.btn{
    border: 1px solid #fff;
    padding: 10px 30px;
    color: #fff;
    text-decoration: none;
    transition: 0.5s ease-in-out;
}

.btn:hover{
    background-color: #fff;
    color: black;
}

.about{
    background-image: linear-gradient(rgba(255, 255, 255, 0.2),rgba(0, 0, 0, 0.2)), url(bgscroll1.png);
    background-size: cover;
    color: #6e0f0f;
    font-size: 10px;
    margin: 25px;
    padding: 30px 30px;
    width: 40%;
    /* border: 2px solid #202020; */
    border-radius: 25px;
    transition: all 0.3s ease;
    box-shadow: 6px 6px 6px 6px #202020;
    margin-right: 20px;
    margin-left: 100px;
    
}
#about{
  position: relative;
  display: inline-block;
  width: 100%;
}

.about h1{
    font-size: 40px;
}

.jk{
position: absolute;
right: -500px;
top: 20px;
}
.jkvid{
  position: relative;
  border-radius: 50%;
}
.about_data{
  font-family: 'Playfair Display', sans-serif;
  font-weight: lighter;
  letter-spacing:1.2px;
  line-height: 1.5;
  font-size: 15px; 
  color: rgb(0, 0, 0);
}
.bgimage{
  background-image:linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)), url(hogwartsnight.jpg);
  height: 100vh;
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
}