/* @import url("https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap"); */
@import url('http://fonts.cdnfonts.com/css/harry-potter');


* {
    margin: 0;
    padding: 0;
    font-family: 'Harry Potter', sans-serif;
    font-weight: lighter;    letter-spacing: 5px;
    cursor: pointer;
}

header{
    background-image:linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)), url(hogwarts_castle.png);
    background-attachment: fixed;
    height: 100vh;
    background-size: cover;
    background-position: center;
}

ul{
    float: right;
    list-style-type: none;
    margin-top: 25px;
}

ul li{
    display: inline-block;
}

ul li a{
    text-decoration: none;
    color: #fff;
    padding: 5px 20px;
    border: 1px solid transparent;
    transition: 0.5s ease-in-out;
}

ul li a:hover{
    background-color: #fff;
    color: black;
}

ul li.active a{
    background-color: #fff;
    color: black;
}

.logo img{
    float: left;
    width: 400px;
    height: auto;
}

.main{
    max-width: 1200px;
    margin: auto;
}
 
.title{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.title h1{
    font-size: 70px;
    color: #fff;
}

.button{
    position: absolute;
    top: 62%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.btn{
    border: 1px solid #fff;
    padding: 10px 30px;
    color: #fff;
    text-decoration: none;
    transition: 0.5s ease-in-out;
}

.btn:hover{
    background-color: #fff;
    color: black;
}