@import url('HarryP-MVZ6w.woff');

*{
    box-sizing: border-box;
}
body {
    background-image: url(bgscroll1.png);
    background-repeat: repeat;
    background-size: cover;
    font-family: 'Harry P', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:center;
    height: 100vh;
    margin:0; 
    cursor: url(snitch2.gif), default;
    overflow-x: hidden;
}

.logo{
    position:absolute;
    height:166px;
    width:108px;
    top:10px;
    left: 10px;
    background-image: url(Hp.png);
}
.deactivate{
    position: relative;
    height: 50px;
    width: 50px;
    left:290px;
    background-color: transparent;
    border: 1;
    cursor: url(snitch2.gif), default;
}
h1{
    position: absolute;
    font-size: 50px;
    top:180px;
}
.tick{
    position: relative;
    top:-45px;
    opacity: 0;
    transition: all 0.3s ease-in;
}
.click{
    opacity: 1;
    transform:scale(1.5);
    transition: all 0.3s ease-in;
    cursor: url(snitch2.gif), default;
}


.no-good:hover span{
    color: rgb(100, 21, 21);
    transform: translateY(-30px);
    font-size: 100px;
    transform: scale(1.5);
    cursor: url(snitch2.gif), default;
    transition: all 0.3s ease-in-out;
}


.title{
    position: relative;
    background-image: url(harrypotter.png);
    height:158px;
    width: 457px;
    top: 754px;
}
.footstep{
position: relative;
height: 82px;
width: 73px;
background-image: url(foot.png);
opacity: 0;
}

#foot1{
top: 880px;
left: -400px;
transform:rotateZ(30deg)
}
#foot2{
top: 920px;
left: -400px;
transform:rotateZ(20deg)
}
#foot3{
top: 940px;
left: -350px;
transform:rotateZ(00deg)
}
#foot4{
top: 940px;
left: -205px;
transform:rotateZ(-10deg)
}
#foot5{
top: 950px;
left: -100px;
transform:rotateZ(-30deg)
}
.footstep.show{
    opacity: 1;
}

