@import url('HarryP-MVZ6w.woff');

*{
    box-sizing: border-box;
}
body {
    background-image: url(240_F_25153486_YgrJywWTDTxYkpI54l5d5wj9Ty8hr04F.png);
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
    font-family: 'Harry P', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:center;
    height: 100vh;
    overflow: hidden;
    margin:0; 
    cursor: url(http://www.rw-designer.com/cursor-extern.php?id=100023),default ;

}

.container{
    position: relative;
    background-image: url(scroll.png);
    padding: 10px;
    background-repeat: no-repeat;
    background-size: cover;
    top: 5px;
    height: 630px;
    width: 430px;
    transition: transform .2s ease-in;
}
.logos{
    background-image: url(logo.png);
    position: relative;
    height: 180px;
    width: 250px;
    top: 5px;
    left: 53px;
}
.text{
    position: relative;
    top: 285px;
    left: 60px;
    font-size:40px;
    text-shadow: 5px 5px 5px rgb(84, 55, 0);
}
.btn{
    position: relative;
    align-items: center;
    justify-content: center;
    bottom:275px;
    left: 165px;
    top: 15px;
    cursor: url(HarryPotterCursorNormalWand.gif), default;
}
.right{
    position: relative;
    left: -30px;
    background: transparent;
    border:none;
    font-size: 50px;
    font-weight: bold;
    top: 50px;
    text-shadow: 3px 3px 3px rgb(84, 55, 0);
}
.wrong{
    position: relative;
    right: -0px;
    background: transparent;
    border:none;
    font-size: 60px;
    top: 50px;
    font-weight: lighter;
    text-shadow: 3px 3px 3px rgb(84, 55, 0);
}
.right:focus{
    outline:none;
    cursor: url(http://www.rw-designer.com/cursor-extern.php?id=26747), default;
}
.wrong:focus{
    outline:none;
    cursor: url(http://www.rw-designer.com/cursor-extern.php?id=26747), default;
}
.right:hover{
    transform:scale(.85);
    cursor: url(http://www.rw-designer.com/cursor-extern.php?id=26747), default;   
}
.wrong:hover{
    transform:scale(.85);
    cursor: url(http://www.rw-designer.com/cursor-extern.php?id=26747), default;
}
.container:hover{
    transform:scale(1.02);
}
a,a:hover,a:visited{
    text-decoration:none;
    color: black;
    cursor: url(http://www.rw-designer.com/cursor-extern.php?id=26747), default;
}

